---
import Layout from '../layouts/Layout.astro';
import illustrationImage from "../images/illustration-intro.svg?url"
import data from '../data.js';
import Pagination from 'astro:assets';


// import components
import H1 from '../components/H1.astro';
import Button from '../components/Button.astro';
import AboutUs from '../components/Sections/AboutUs.astro';
import Testimony from '../components/Sections/Testimony.astro';
import CTAbottom from '../components/CTAbottom.astro';
import Footer from '../components/Footer.astro';


---

<Layout title="Manage Landing Page">
	<main class="flex flex-col md:max-w-[80%] justify-center items-center m-auto">

			<img src={illustrationImage} alt="illustrations of graphs">

			<section class="flex flex-col items-center text-center md:text-start gap-6 p-4">
				<H1>Bring everyone together to build better products.</H1>
				
				<p>Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.</p>
				<Button />
			</section>

			<AboutUs />

			<Testimony />
			<CTAbottom />
			<Footer/>






	</main>
</Layout>
