---
import Layout from '../layouts/Layout.astro';
import illustrationImage from "../images/illustration-intro.svg?url"
import Button from '../components/Button.astro';

// import components
import H1 from '../components/H1.astro';

---

<Layout title="Manage Landing Page">
	<main class="flex flex-col">

			<img src={illustrationImage} alt="illustrations of graphs">

			<section class="flex flex-col items-center gap-6">
				<H1>Bring everyone together to build better products.</H1>
				
				<p>Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.</p>
				<Button buttonName="Get Started" />
				<span class="mb-10"></span>
			</section>

			<article class="flex flex-col md:flex-row gap-6 items-center">
				<H1>What's different about Manage?</H1>
				<p class="text-center">Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams.</p>
			</article>

	</main>
</Layout>
