

<a href="/" class="rounded-full p-1 bg-orange-600 text-white font-bold h-10 w-32 flex items-center justify-center drop-shadow-2xl transition-all duration-200 ease-in-out hover:scale-110" >Get Started</a>