---
import Button from "./Button.astro";
import H1 from "./H1.astro";
---

<section class="bg-orange-600 flex flex-col justify-around w-full py-24 gap-6 text-white md:flex-row">
    <H1>Simplify how your team's works today.</H1>
    <div class="flex justify-center items-center">
        <button class=`rounded-full p-1 bg-white text-orange-600 font-bold h-10 w-32 flex items-center justify-center shadow-xl transition-all duration-200 ease-in-out hover:scale-110`>Get Started</button>
    </div>
</section>

<style>
    section {
        background-image: url('./src/images/bg-simplify-section-mobile.svg');
        background-repeat: no-repeat;
    }
</style>