---
import logo from "../images/logo.svg?url"
import hamburgerIcon from "../images/icon-hamburger.svg?url"
---

<header class="flex justify-between items-center-2 p-4">
    <div>
        <img src={logo} alt="site logo">
    </div>
    <nav>
        <!-- desktop menu -->
        <ul class="hidden md:flex gap-2">
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Home</li></a>
        </ul>

        <!-- mobile and mobile menus -->

        <div class="w-10 h-10 flex items-center justify-center cursor-pointer">
            <!-- <span></span>
            <span></span>
            <span></span> -->
            <img src={hamburgerIcon} alt="ham">
        </div>
        <ul class="hidden gap-2">
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Home</li></a>
        </ul>
    </nav>
</header>